
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0; 
}


.main-container{
    box-sizing:content-box;
    border: 1px solid;
padding: 0;
margin: 0;
width: 300px;
height: 300px;
display: flex;
flex-wrap: wrap;

}

.box{
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    border: 1px solid;
    text-align: center;
    font-size: 20px;
}